fastapi
uvicorn[standard]

langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface


chromadb

sentence-transformers

langchain-groq
groq

pydantic-settings
python-dotenv

pypdf


--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu